@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500;600;700;800;900&display=swap');

.Card {
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.Card .contents {
    width: 100%;
    color: black;
    display: grid;
    grid-template-columns: auto 80px;
    grid-template-rows: 35px 65px 20px auto;
    grid-template-areas: 
        "name glass"
        "ingredients glass"
        "ingredients method"
        "option option";
}

.Card.closed {
    background-color: rgba(250,250,255);
}

.Card.external.closed {
    background-color: rgb(150,150,200);
}

.Card.open {
    background-color: white;
}

.Card h2 {
    grid-area: name;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 18pt;
}

.Card .glass {
    grid-area: glass;
    width: 70px;
    height: 70px;
}

.Card .method {
    grid-area: method;
    text-align: center;
    text-transform: uppercase;
}

.Card .ingredients {
    grid-area: ingredients;
    margin: 0;
    padding-left: 1.5em;
}

.Card .optional {
    grid-area: option;
}

.Card .optional div {
    margin-top: 5px;
}

