#Editor {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

#Editor .window {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    color: black;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 50% 1fr 200px;
    grid-template-rows: auto auto max-content auto auto auto auto auto auto;
    grid-template-areas:
        "heading heading closebutton"
        "name name glassimage"
        "ingredients ingredients glassimage"
        "ingredients ingredients methodtext"
        "ingredients ingredients ."
        "garnish garnish garnish"
        "glass method method"
        "source source source"
        "info info info"
        "error error error"
        ". submit submit";
}

#Editor h1 {
    grid-area: heading;
    margin-top: 8px;
    margin-bottom: 8px;
}

#Editor .closeButton {
    grid-area: closebutton;
    text-align: right;
    cursor: pointer;
}

#Editor .Name {
    grid-area: name;
}

#Editor .Ingredients {
    grid-area: ingredients;
}

#Editor .Garnish {
    grid-area: garnish;
}

#Editor .Glass {
    grid-area: glass;
}

#Editor .Method {
    grid-area: method;
}

#Editor .Info {
    grid-area: info;
}

#Editor .GlassImage {
    grid-area: glassimage;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Editor img {
    width: 80px;
    height: 80px;
}

#Editor .MethodText {
    grid-area: methodtext;
    text-align: center;
}

#Editor .Source {
    grid-area: source;
}

#Editor .Errors {
    grid-area: error;
    text-align: center;
    margin-bottom: 10px;
    color: red;
}

#Editor button {
    grid-area: submit;
}


#Editor label>input,
#Editor label>textarea,
#Editor label>select {
    display: flex;
    flex: 1;
    margin-left: 20px;
    margin-right: 10px;
}

.labeledInput {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 8px;
}

#Editor .error {
    color: red;
}

#Editor .error input, #Editor .ingredientNameError {
    outline: red;
    border-color: red;
    border-radius: 3px;
}