.Tippler {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.TopRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
}

.SettingsIcon {
    font-size: 25pt;
    color: white;
    cursor: pointer;
    margin-left: 8px;
}

.Search {
    width: 100%;
    padding: 0 10px;
    flex-grow: 1;
    padding: 4px 8px;
    background-color: rgba(240, 240, 255);
    border-radius: 10px;
    border: none;
    height: 2em;
}

.Search:focus {
    background-color: white;
    outline: none;
}

h2 {
    margin: 0;
}